:root {
    --accent-color: #3a3b3b;
    --main-color: #fff;
    --secondary-color: #acffe1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    background-color: #f1f1f1;
    padding: 15px 0 0 0;
}

#logo-positioning {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

#bitlearn-logo {
    margin-left: 15px;
    width: 5%;
}

#seperation-bar {
    background-color: var(--accent-color);
    border: solid 2px black;
}

#intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background: linear-gradient(-60deg,  var(--secondary-color) 55%, var(--main-color) 45%);
    border: solid 1px black;
}

#intro-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background: linear-gradient(120deg,  var(--secondary-color) 55%, var(--main-color) 45%);
    text-align: center;
    border: solid 1px black;

}



nav {
    display: flex;
    justify-content: center;
    height: 30px;

}

#nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.nav-link {
    padding: 0px 10px;
    border-left: 2px solid #f1f1f1;
    border-right: 2px solid #ffffff;
    text-decoration: none;
    color: var(--main-color);
    transition: 0.5s;
}

.nav-link:hover {
font-size: x-large;
transition: 0.5s;
}


#hello-world-list {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.hello-world-item, #intro-paragraph {
    font-size: x-large;
    background-color: var(--main-color);
}

.hello-world-item {
    opacity: 0;
    transform: translateY(-100%);
    animation: fadeIn 1s forwards;
}

.hello-world-item:nth-child(1) {
    animation-delay: 0s;
  }
  
  .hello-world-item:nth-child(2) {
    animation-delay: 0.5s; 
  }
  
  .hello-world-item:nth-child(3) {
    animation-delay: 1s; 
  }

#intro-paragraph {
    display: inline-block;
    line-height: 3;
    width: 80%;
}   

.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;

}

.info-image {
    margin: 0 5px;
}


#js-img {
 width:60%;
}

.info-text {
    width: 50%;
    background-color: var(--main-color);
    margin: 10px 0 ;
    padding: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(222, 222, 222);
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
